streamlit==1.29.0
pandas==2.1.4
psycopg2-binary==2.9.9
openpyxl
xlsxwriter
gspread
oauth2client
google-auth
pygsheets
Pillow
requests
matplotlib
seaborn
plotly
SQLAlchemy
python-dotenv
streamlit-aggrid==0.3.3
