streamlit
pandas
psycopg2-binary==2.9.9
openpyxl
XlsxWriter
gspread
oauth2client
google-auth
pygsheets
Pillow
requests
matplotlib
seaborn
plotly
SQLAlchemy
python-dotenv
firebase-admin
streamlit-aggrid
redis
pyyaml
pymongo
requests-oauthlib
pycryptodome
